a:link {
  color: #32170D;
  text-decoration: none;
}

a:visited {
  color: #32170D;
  text-decoration: none;
}

a:hover {
  color: #32170D;
  text-decoration: none;
}

a:active {
  color: #32170D;
  text-decoration: none;
}

body {
  background: #F6DDC8;
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
}

h1 {
  color: #72472D;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
