body {
  background: #F6DDC8;
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
}

#form {
  background: #FFFFFF;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
  margin: 0 auto 100px;
  max-width: 650px;
  min-width: 650px;
  padding: 45px;
  font-size: 16.18px;
}

#form button {
  background: #EDBC92;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  height: 3.5em;
  margin: 0 0 6px;
  width: 100%;
}

#msg {
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
  color: #FF6961;
}
