<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>J.S Wargame</title>
  <style>
    body { font-family: sans-serif; padding: 24px; }
    input { width: 520px; padding: 10px; font-size: 16px; margin: 6px 0; }
    code { font-size: 16px; }
  </style>
</head>
<body>
  <h2>LET'S SWING!!!</h2>


<form action="/submit" method="POST">
  <div style="margin-top:18px;">TextField1</div>
  <input name="text1" autocomplete="off" />

  <div style="margin-top:12px;">TextField2</div>
  <input name="text2" autocomplete="off" />

  <button type="submit">submit</button>
</form>


</body>
</html>
