<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Monitor</title>
</head>
<body>
    <div class="card">
        <a href="/" style="text-decoration:none; color:#0984e3; font-size:0.8rem;">← Back</a>
        <h2>Server Load</h2>
        <div class="db-box">
            <div class="db-water" style="height: {{ (res.current / res.max) * 100 }}%;"></div>
        </div>
        <p>Status: <b>{{ res.status }}</b></p>
        <p>{{ res.current }} / {{ res.max }} Requests</p>
        {% if is_done %}
        <div class="flag">
            <b>[CRITICAL] Data Dumped:</b><br>
            <code>{{ res.flag }}</code>
        </div>
        {% endif %}
    </div>
</body>
</html>
