services:
  app:
    build: ./app
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      DB_USER: winky
      DB_PASSWORD: fake_db_password
      DB_NAME: wannanime

networks:
  app_network:
    driver: bridge